@model NguyenThanhSang505.NTS505

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NTS505</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NTSId" class="control-label">Mã nhân viên:</label>
                <input asp-for="NTSId" class="form-control" />
                <span asp-validation-for="NTSId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NTSName" class="control-label">Tên nhân viên:</label>
                <input asp-for="NTSName" class="form-control" />
                <span asp-validation-for="NTSName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NTSGender" /> Giới tính (Nam)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
