@model NguyenThanhSang505.NTS505

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NTS505</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nhân viên:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTSName)
        </dd>
        <dt class = "col-sm-2">
            Giới tính (Nam):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTSGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NTSId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
